@charset "UTF-8";
body {
  margin: 0;
  font-family: "Roboto", cursive;
}

.btn {
  margin: 10px;
  text-align: center;
  background-size: 200% auto;
  color: white;
  border-radius: 30px;
  border: none;
  box-shadow: 0 2px 5px 2px darkgrey;
}
.btn:hover {
  background-image: linear-gradient(to top, #9356DC 40%, #DA22FF 70%);
}

.btn__grad {
  background-image: linear-gradient(to top, #9356DC 10%, #DA22FF 90%);
}

.-hearts {
  margin-left: 128px;
  font-size: 32px;
  height: 40px;
  width: 40px;
}
.-hearts .far {
  opacity: 1;
  color: #F2F2F2;
  position: absolute;
}
.-hearts .fas {
  color: white;
}

.-hearts:hover {
  cursor: pointer;
  overflow: hidden;
}
.-hearts:hover .far {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.-hearts:hover .fas {
  opacity: 1;
  color: #DA22FF;
  transition: all 0.5s ease-in-out;
}

.menu:hover .menu__check {
  display: block;
  align-items: center;
  justify-content: flex-end;
  color: white;
  background-color: #99e2d0;
  overflow: hidden;
  transition: all 3s;
  animation: check_translation 0.5s 1 forwards;
}
.menu:hover .menu__prix {
  animation: prix_translation 0.5s 1 forwards;
}

.menu__check i {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  animation: rotate_icon 0.5s 1;
}

#footer {
  display: flex;
  flex-direction: column;
  background-color: #22201f;
  color: white;
}
#footer p, #footer a, #footer i {
  color: white;
  margin: 0 0 8px 0;
  text-decoration: none;
}

@media screen and (max-width: 375px) {
  #footer {
    padding: 0 0 0 18px;
  }
  #footer img {
    height: 32px;
    margin: 8px 0 8px 0;
    width: 54%;
  }
}
#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#header .header__name p {
  font-family: "Shrikhand", cursive;
}
#header .header__logo {
  display: flex;
  justify-content: center;
}
#header .header__lieux {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
}
#header .header__infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
}
#header .header__infos p {
  display: flex;
  justify-content: center;
  margin: 0 0 8px 0;
}
#header .btn__header {
  width: 215px;
  padding: 12px;
}

@media screen and (max-width: 375px) {
  #header .header__logo img {
    width: 100%;
    height: 100%;
    margin: 8px 0 8px 0;
  }
  #header .header__logo button {
    display: flex;
    align-items: center;
    background-color: white;
    border: 0;
    padding: 0 8px 0 18px;
  }
  #header .header__image {
    width: 100%;
    height: 250px;
  }
  #header .header__image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  #header .header__infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #header .header__infos p {
    width: 75%;
    margin: 0 0 8px 0;
  }
  #header .header__infos h3 {
    font-weight: bold;
    width: 55%;
    text-align: center;
  }
  #header .header__name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
    position: absolute;
    bottom: 487px;
    top: 268px;
    width: 100%;
  }
  #header .header__lieux i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px 0 0;
  }
}
/**
Rotation de l'icône check
 */
@keyframes rotate_icon {
  10% {
    transform: rotate(-90deg) scale(1);
  }
  20% {
    transform: rotate(-75deg) scale(1.03);
  }
  40% {
    transform: rotate(-60deg) scale(1.08);
  }
  60% {
    transform: rotate(-45deg) scale(1.15);
  }
  80% {
    transform: rotate(-30deg) scale(1.08);
  }
  100% {
    transform: rotate(5deg) scale(1);
  }
}
/**
Déplacement du prix lors du survol
 */
@keyframes prix_translation {
  10% {
    transform: translate(-1px, 0);
  }
  20% {
    transform: translate(-5px, 0);
  }
  40% {
    transform: translate(-8px, 0);
  }
  60% {
    transform: translate(-10px, 0);
  }
  80% {
    transform: translate(-20px, 0);
  }
  100% {
    transform: translate(-25px, 0);
  }
}
@keyframes check_translation {
  from {
    width: 0%;
  }
  to {
    width: 10%;
  }
}
.btn {
  margin: 10px;
  text-align: center;
  background-size: 200% auto;
  color: white;
  border-radius: 30px;
  border: none;
  box-shadow: 0 2px 5px 2px darkgrey;
}
.btn:hover {
  background-image: linear-gradient(to top, #9356DC 40%, #DA22FF 70%);
}

.btn__grad {
  background-image: linear-gradient(to top, #9356DC 10%, #DA22FF 90%);
}

.-hearts {
  margin-left: 128px;
  font-size: 32px;
  height: 40px;
  width: 40px;
}
.-hearts .far {
  opacity: 1;
  color: #F2F2F2;
  position: absolute;
}
.-hearts .fas {
  color: white;
}

.-hearts:hover {
  cursor: pointer;
  overflow: hidden;
}
.-hearts:hover .far {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.-hearts:hover .fas {
  opacity: 1;
  color: #DA22FF;
  transition: all 0.5s ease-in-out;
}

.menu:hover .menu__check {
  display: block;
  align-items: center;
  justify-content: flex-end;
  color: white;
  background-color: #99e2d0;
  overflow: hidden;
  transition: all 3s;
  animation: check_translation 0.5s 1 forwards;
}
.menu:hover .menu__prix {
  animation: prix_translation 0.5s 1 forwards;
}

.menu__check i {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  animation: rotate_icon 0.5s 1;
}

/**
Rotation de l'icône check
 */
@keyframes rotate_icon {
  10% {
    transform: rotate(-90deg) scale(1);
  }
  20% {
    transform: rotate(-75deg) scale(1.03);
  }
  40% {
    transform: rotate(-60deg) scale(1.08);
  }
  60% {
    transform: rotate(-45deg) scale(1.15);
  }
  80% {
    transform: rotate(-30deg) scale(1.08);
  }
  100% {
    transform: rotate(5deg) scale(1);
  }
}
/**
Déplacement du prix lors du survol
 */
@keyframes prix_translation {
  10% {
    transform: translate(-1px, 0);
  }
  20% {
    transform: translate(-5px, 0);
  }
  40% {
    transform: translate(-8px, 0);
  }
  60% {
    transform: translate(-10px, 0);
  }
  80% {
    transform: translate(-20px, 0);
  }
  100% {
    transform: translate(-25px, 0);
  }
}
@keyframes check_translation {
  from {
    width: 0%;
  }
  to {
    width: 10%;
  }
}
.carte {
  background-color: #F2F2F2;
  margin: -8px 0 0 0;
}

.entrees h2, .plats h2, .desserts h2 {
  margin: 8px 0 8px 0;
  border-bottom: 2px solid #99e2d0;
  width: 40px;
}

.menu {
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  background-color: white;
  margin-bottom: 8px;
  width: 97%;
}
.menu__contenu {
  display: flex;
  width: 80%;
  padding-right: 8px;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}
.menu__contenu p, .menu__contenu h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__prix {
  display: flex;
  justify-content: flex-end;
  width: 10%;
  margin: 0 0 0 25px;
}
.menu__check {
  display: none;
  width: 0;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.btn__menu {
  width: 215px;
  padding: 12px;
  margin: 16px 0 16px 74px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
}
.fonctionnement__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fonctionnement__section__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin: 12px 0 12px 0;
  border: 1px solid #F2F2F2;
  width: 270px;
  padding: 0 0 0 32px;
  background-color: #F2F2F2;
  color: black;
}
.fonctionnement__section__card h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  color: white;
  background-color: #9356dc;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  margin-left: -42px;
  margin-right: 42px;
}
.fonctionnement__section__card p {
  font-weight: bold;
}
.fonctionnement__section__card i {
  padding: 0 18px 0 0;
}
.fonctionnement__section__card :hover {
  color: #9356dc;
}

#restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
}
#restaurants .menus {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.restaurants__cards {
  width: 332px;
  height: 204px;
  margin: 12px 40px 50px 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #F2F2F2;
  text-decoration: none;
  color: black;
}
.restaurants__cards .img__restaurants {
  width: 100%;
  margin: 0;
  position: relative;
}
.restaurants__cards .img__restaurants .btn__nouveau {
  color: green;
  background-color: #99e2d0;
  position: absolute;
  right: 10px;
  top: 10px;
}

h4 {
  margin: 0 0 0 0;
  padding-left: 8px;
}

p {
  margin: 8px 0 0 0;
  padding-left: 8px;
}

img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 375px) {
  #restaurants .menus {
    display: flex;
    flex-direction: column;
  }
  #restaurants .menus .restaurants__cards {
    height: 100%;
    margin: 0 18px 18px 18px;
  }
  #restaurants .menus .restaurants__cards h3 {
    margin-right: 228px;
  }
  #restaurants .menus .restaurants__cards .cards__content {
    display: flex;
    flex-direction: row;
  }
  #restaurants .menus .restaurants__cards .cards__content .-infos {
    display: flex;
    flex-direction: column;
    width: 170px;
  }

  .fonctionnement h3 {
    margin-left: 22px;
  }
  .fonctionnement__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fonctionnement__section__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    margin: 12px 0 12px 0;
    border: 1px solid #F2F2F2;
    width: 270px;
    padding: 0 0 0 32px;
  }
  .fonctionnement__section__card h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    background-color: #9356dc;
    border-radius: 10px;
    width: 20px;
    height: 20px;
  }
  .fonctionnement__section__card p {
    font-weight: bold;
  }
  .fonctionnement__section__card i {
    padding: 0 18px 0 0;
  }
  .fonctionnement__section__card :hover {
    color: #9356dc;
  }
}

/*# sourceMappingURL=style.css.map */
