@import "../utils/_variables";
.-hearts {
  margin-left: 70px;
  font-size: 32px;
  height: 40px;
  width: 40px;

  .far {
    opacity: 1;
    color: $background_grey;
    position: absolute;
  }

  .fas {
    color: white;
  }
}

.-hearts:hover {
  cursor: pointer;
  overflow: hidden;
  font-size: 32px;

  .far {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .fas {
    opacity: 1;
    color: #DA22FF;
    transition: all 0.5s ease-in-out;
  }
}

.-heartsMenu {
  margin-left: 68px;
  font-size: 32px;
  padding-top: 22px;

  .far {
    opacity: 1;
    color: black;
    position: absolute;
    right: 15px;
    bottom: 6px;
  }

  .fas {
    color: white;
    position: absolute;
    right: 15px;
    bottom: 6px;
  }
}

.-heartsMenu:hover {
  cursor: pointer;
  overflow: hidden;
  padding-top: 22px;

  .far {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .fas {
    opacity: 1;
    color: #DA22FF;
    transition: all 0.5s ease-in-out;
  }
}


.menu:hover {
  .menu__check {
    display: block;
    align-items: center;
    justify-content: flex-end;
    color: white;
    padding: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background-color: $color-tertiary;
    overflow: hidden;
    transition: all 3s;
    animation: check_translation 0.5s 1 forwards;
  }

  .menu__prix
  {
    animation: prix_translation 0.5s 1 forwards;
  }
}

.menu__check i {
  display: flex;
  justify-content: center;
  margin-top: 22px;
  animation: rotate_icon 0.5s 1;
}

@media screen and (max-width: 375px) {
  .-hearts {
    margin-left: 120px;

  }

}