@import "../components/_buttons";
@import "../layout/_animation";
@import "../layout/_keyframes";
@import "../utils/_variables";

.menu {
  background-color: $background_grey;
  margin: -8px 0 0 0;
}

.entrees h2, .plats h2, .desserts h2
{
  margin: 8px 0 8px 0;
  border-bottom: 2px solid $color-tertiary;
  width: 40px;
}


.menu__cards {
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  background-color: white;
  margin-bottom: 8px;

  .-contenu {
    display: flex;
    width: 80%;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .-prix
  {
    display: flex;
    animation: prix_translation 0.5s 1;
  }

  .-check {
    display: none;
  }

  :hover + .-check {
    display: block;
    flex: 0 0 15%;
    align-items: center;
    width: 30px;
    justify-content: flex-end;
    color: $color-tertiary;
    overflow: hidden;
    animation: rotate 0.5s 1;
    transition: all 3s;
  }

}


.btn__menu {
  width: 215px;
  padding: 12px;
  margin: 16px 0 16px 74px;
}
